.s-1{
	background-position: 0 -695px ;
	width: 13px;
	height: 14px;
}

.s-1-active{
	background-position: 0 -678px ;
	width: 13px;
	height: 14px;
}

.s-2{
	background-position: -16px -695px ;
	width: 14px;
	height: 14px;
}

.s-2-active{
	background-position: -16px -678px ;
	width: 14px;
	height: 14px;
}

.s-3{
	background-position: -32px -695px ;
	width: 14px;
	height: 14px;
}

.s-3-active{
	background-position: -33px -679px ;
	width: 14px;
	height: 14px;
}

.s-4{
	background-position: -50px -696px ;
	width: 14px;
	height: 14px;
}

.s-4-active{
	background-position: -50px -679px ;
	width: 14px;
	height: 14px;
}

.s-5{
	background-position: -67px -695px ;
	width: 14px;
	height: 14px;
}

.s-5-active{
	background-position: -67px -679px ;
	width: 14px;
	height: 14px;
}

.s-6{
	background-position: -84px -696px ;
	width: 14px;
	height: 14px;
}

.s-6-active{
	background-position: -84px -679px ;
	width: 14px;
	height: 14px;
}

.actual-contactos{
	background-position: -281px -277px ;
	width: 58px;
	height: 160px;
}

.actual-inicio{
	background-position: -282px -169px ;
	width: 58px;
	height: 96px;
}

.actual-productos{
	background-position: -213px 0;
	width: 58px;
	height: 160px;
}

.actual-quienes-somos{
	background-position: -211px -316px ;
	width: 58px;
	height: 233px;
}

.actual-servicios{
	background-position: -213px -168px ;
	width: 58px;
	height: 139px;
}

.actual-ubiquenos{
	background-position: -279px 0;
	width: 58px;
	height: 161px;
}

.contact-us{
	background-position: -64px -636px ;
	width: 43px;
	height: 30px;
}

.facebook{
    background-position: 0 -717px ;
    width: 50px;
    height: 48px;
}

.favorites{
    background-position: -28px -635px ;
    width: 32px;
    height: 31px;
}

.findus-down{
    background-position: -121px -637px ;
    width: 80px;
    height: 13px;
}

.foot-over{
    background-position: -97px -86px ;
    width: 24px;
    height: 91px;
}

.home{
    background-position: 0 -635px ;
    width: 22px;
    height: 30px;
}

.over-banner{
    background-position: -140px 0;
    width: 45px;
    height: 211px;
}

.slice{
    background-position: -70px -194px ;
    width: 48px;
    height: 49px;
}

.slice-area{
    background-position: -191px 0;
    width: 15px;
    height: 249px;
}

.twitter{
    background-position: -56px -716px ;
    width: 49px;
    height: 48px;
}

.youtube{
    background-position: -115px -717px ;
    width: 49px;
    height: 48px;
}

