* {
    margin: 0px;
    padding: 0px;
}
#canvas {
    height: 768px;
    text-align: left;
    /*
    height: 100%;
    left: 244px;
    padding-left: 15px;
    position: absolute;
    top: 26px;
    width: 920px;
    */
}

#main {
    height: 562px;
    position: relative;
    margin: 0 auto 0 auto;
    width: 934px;
    /*padding: 26px 0 0 228px;*/
}

#left {
    height: 100%;
    float: left;
    width: 234px;
    
}

#main-menu {
    background-position: 0 -255px ;
    width: 203px;
    height: 372px;
    float: right;
    position: relative;
    z-index: 1;
}

#logo {
    background-position: 0 0;
    width: 133px;
    height: 44px;
    margin: 30px 0 35px 48px;
}

#options {
    padding-left: 40px;
}

#options div {
    cursor: pointer;
}

#options div div {
    background: url(../images/sprites.png) no-repeat;
    background-position: 18px -52px ;
    width: 132px;
    height: 27px;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

#inicio {
    background-position: 57px -196px ;
    width: 102px;
    height: 21px;
}

#quienes-somos {
    background-position: 24px -141px ;
    width: 109px;
    height: 21px;
}

#servicios {
    background-position: 47px -115px ;
    width: 98px;
    height: 21px;
}

#productos {
    background-position: 42px -168px ;
    width: 100px;
    height: 21px;
}

#contactos {
    background-position: 42px -222px ;
    width: 100px;
    height: 21px;
}

#ubiquenos {
    background-position: 42px -86px ;
    width: 100px;
    height: 21px;
}

#actual {
    position: absolute;
    bottom: 0px;
    margin-left: 8px;
    float: left;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

#info {
    font-family: sans-serif;
    height: 112px;
    width: 148px;
    float: right;
    text-align: justify;
    padding-right: 16px;
    margin-top: 4px;
    line-height: 8px;
}

#down-separator {
    float: right;
    background-position: 0 -670px ;
    width: 157px;
    height: 4px;
}

#right {
    height: 100%;
    width: 700px;
    float: left;
}

#top-head {
    height: 98px;
}

#controls {
    height: 100%;
    width: 489px;
    float: left;
}

#top-menu {
    height: 100%;
    width: 210px;
    float: left;
}

#banner {
    position: relative;
    left: -23px;
    height: 211px;
    width: 651px;
    z-index: 0;
}

#content-title {
    margin: 23px 0 10px 20px;
}

#container {
    text-align: justify;
    height: 252px;
    width: 700px;
}

#footer {
    height: 175px;
    position: relative;
    margin: 0 auto 0 auto;
    width: 934px;
}

body {
    background-color: #a23806;
    text-align:center;
    background-image: url(../images/background.jpg);
    /*background: url(../images/web-glamour-house.jpg) no-repeat fixed #a23806;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll;
    background-size: cover;
}

.sprite {
    background: url(../images/sprites.png) no-repeat;
}

.banner {
    background: url(../images/banner.jpg) no-repeat;
}

.ban-1 {
    background-position: 0px 0px;
}

.red-micro {
    color: #94130e;
    font-size: 8px;
    line-height: 14px;
}

.red-small {
    color: #94130e;
    font-size: 14px;
    margin-bottom: 7px;
}

.white-micro {
    color: #fff;
    font-size: 8px;
    line-height: 14px;
}

.red-big {
    color: #94130e;
    font-size: 20px;
}

.white-big {
    color: #fff;
    font-size: 20px;
}